section{
    margin: 0 100px 0 100px;
    text-align: center;
}

.showcase div{
    display: flex;
    flex-direction: row;
}

h2{
    margin: 0;
}

.product{
    width: 200px;
    height: 200px;
    background-color: seagreen;
    margin: 20px;
}