
.sidebar {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 8.5%;
    height: 100%;
    margin-top: -5.1%;
    align-items: center;
    border-right: solid #9F9F9F;

    justify-content: space-between;
}

.sidebar i:first-child{
    font-size: 30px;
    margin-top: 15%;
    color: white;
}
.sidebar div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20%;

}
.sidebar div a{
    writing-mode: vertical-rl;
    margin-bottom: 100%;
    color: #9F9F9F
}

.sidebar i:last-child{
    color: white;
}